body, h1, p, a {
    margin: 0;
    padding: 0;
}

.h1 {
    font-family: "Butcherman", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
  }
  
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    text-align: center;
    padding: 20px;
}

header {
    display:flex;
    justify-content: row;
    align-items: center;
    justify-content: space-between;
    background-color: #6B0504;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    padding-left: 10px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}

main {
    margin: 20px 0;
    font-size: x-large;
    color: #ffffff;
}

.intro {
    /* border: 5px solid orange; */
    margin-top: 20px;
}

.logo{
    border: 1px solid #EAC45F;
    border-radius: 10%;
    height: 400px;
    width: 400px;
}

.button {
    margin-right: 10px;
    background-color: orange;
    color: blue;
}

footer {
    margin-top: 13%;
    font-size: larger;
    height: 70px;
    background-color: #6B0504;
    color: rgb(0, 0, 0);
    padding: 10px 0;
}

.contact {
    padding-top: 6px;
}

.linkedin {
    padding-left: 5px;
    padding-right: 5px;
}
.rick {
    padding-left: 5px;
    padding-right: 5px;
}
.insta {
    padding-left: 5px;
    padding-right: 5px;
}